
<!DOCTYPE html>
<html lang="en" style="--pos-banner-fluid-2__grid-template-columns: 100%; --pos-banner-fluid-2__grid-template-rows: 310px auto; --pos-banner-fluid-2__decor-grid-column: initial; --pos-banner-fluid-2__decor-grid-row: initial; --pos-banner-fluid-2__decor-padding: 30px 30px 0 30px; --pos-banner-fluid-2__bg-url: url('https://pos.gosuslugi.ru/bin/banner-fluid/2/banner-fluid-bg-2-small.svg'); --pos-banner-fluid-2__bg-position: calc(10% + 64px) calc(100% - 20px); --pos-banner-fluid-2__bg-size: cover; --pos-banner-fluid-2__content-padding: 0 30px 30px 30px; --pos-banner-fluid-2__slogan-font-size: 20px; --pos-banner-fluid-2__slogan-line-height: 32px; --pos-banner-fluid-2__logo-wrap-padding: 20px 30px 30px 40px; --pos-banner-fluid-2__logo-wrap-top: 0; --pos-banner-fluid-2__logo-wrap-bottom: initial; --pos-banner-fluid-2__logo-wrap-border-radius: 0 0 0 80px;">
	<head>
	<meta name="description" content="Портал министерства здравоохранения Воронежской области">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="index, follow">
<meta name="keywords" content="1С-Битрикс, CMS, PHP, bitrix, система управления контентом">
<meta name="description" content="1С-Битрикс: Управление сайтом">
<link href="bitrix/cache/css/s1/zdrav36_ru/template_97890e5d344cc552aea6598442e0e184/template_97890e5d344cc552aea6598442e0e184_v1.css?1703587464379552" type="text/css" data-template-style="true" rel="stylesheet">
<script type="text/javascript" src="local/templates/zdrav36_ru/js/jquery.min.js?170230002884355"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/bootstrap.min.js?170230002637045"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/slick/slick.min.js?170267766842863"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/push.js?17023000296927"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/liquid.js?17023000285106"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/fancybox/jquery.fancybox.js?170230003048706"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/fancybox/jquery.fancybox.pack.js?170230003023135"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/jquery.dataTables.min.js?170230002779881"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/dataTables.bootstrap.min.js?17023000261942"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/player/mediaelement-and-player.min.js?170230003193950"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/map.js?17023000283429"></script>
<script type="text/javascript" src="local/templates/zdrav36_ru/js/main.js?170230002813370"></script>
<script type="text/javascript">var _ba = _ba || []; _ba.push(["aid", "243afb6016b9f7e15ccbf83439992731"]); _ba.push(["host", "10.36.0.9"]); (function() {var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true;ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ba, s);})();</script>


		<!-- <script src='local/templates/zdrav36_ru/js/main.js'></script> -->
		<!-- <link rel="stylesheet" href="/local/templates/zdrav36_ru/css/main.css"> -->
		<!-- <link href='/local/templates/zdrav36_ru/css/main.css' type='css'> -->
    	<script src="2.1/json.txt?lang=ru_RU" type="text/javascript"></script>
		<!-- <script src="../js/main.js"></script> -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/png" href="local/templates/zdrav36_ru/favicon.png">
		<title>БУЗ ВО "Острогожская РБ"</title>
	</head>
	
	<body>
	<div id="panel"></div>
    <main id="paneletion" class="paneletion">
        <section class="header">
            <div class="container insider">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                        <a href="index.htm" class="logo"><span>Министерство здравоохранения<br> Воронежской
                                области</span></a>
                    </div>
                    <div class="hidden-lg hidden-md col-sm-2 col-xs-2 text-right">
                        <span class="toggle-menu js-slideout-toggle"><i class="fa fa-navicon"></i></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="docker text-right">
                                <div class="control-panel-sub">
                                    <span class="st-font-1">А</span>
                                    <span class="st-font-2">А</span>
                                    <span class="st-font-3">А</span>
                                    <span class="st-col-1"></span>
                                    <span class="st-col-2"></span>
                                    <span class="st-col-3"></span>
                                </div>
                                <div class="col-lg-12">
                                    <span class="subver-toggler toglsub">Версия для слабовидящих<i class="fa fa-low-vision"></i></span>
                                    <span class="subver-toggler toglunsub">Обычная версия<i class="fa fa-eye"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="/search" method="GET">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Поиск по сайту" name="searchText">
                                        <span class="input-group-addon">
                                            <input type="submit" value="Отправить">
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar hidden-sm hidden-xs">
				<div class="container">
					<div class="row">
						<div class="collapse navbar-collapse">
							<div class="main-menu round-bottom">
								<ul>
									<li>
										<a style="height:43px" href="index.htm"><i style="padding-top: 2px" class="fa fa-home"></i></a>
									</li>
										
																
										<li>
																							<a href="ob-uchrezhdenii.html">Об учреждении</a>
																																	<ul>
																										<li><a href="/novosti">Новости</a></li>
																										<li><a href="vakansii.html">Вакансии</a></li>
																										<li><a href="dokumentyi.html">Документы</a></li>
																										<li><a href="medrabotniki.html">Медработники</a></li>
																										<li><a href="kontakty.html">Контакты</a></li>
																										<li><a href="/uchebno-metodicheskiy-otdel">Учебно-методический отдел</a></li>
																							</ul>
																					</li>	
										
																
										<li>
																							<a href="medrabotniki.html">Медработники</a>
																																</li>	
										
																
										<li>
																							<a>Общественная приемная</a>
																																	<ul>
																										<li><a href="org-poryadok-i-vremya-lichnogo-priyoma-rukovoditelem.html">Порядок и время личного приёма руководителем</a></li>
																										<li><a href="org-poryadok-priyoma-i-rassmotreniya-obrashchenij-grazhdan.html">Порядок приёма и рассмотрения обращений граждан</a></li>
																										<li><a href="org-forma-otpravki-pismennyh-obrashchenij.html">Форма отправки письменных обращений</a></li>
																										<li><a href="otpravit-soobshhenie.html">Форма отправки электронных обращений</a></li>
																										<li><a href="org-informaciya-o-rabote-s-obrashcheniyami-grazhdan.html">Информация о работе с обращениями граждан</a></li>
																										<li><a href="org-normativno-pravovaya-baza-po-rabote-s-obrashcheniyami-grazhdan.html">Нормативно-правовая база по работе с обращениями граждан</a></li>
																							</ul>
																					</li>	
										
																
										<li>
																							<a href="org-informatsiya-dlya-patsientov.html">Пациентам</a>
																																	<ul>
																										<li><a href="org-territorialnaya-programma-gosudarstvennyih-garantiy-besplatnogo-okazaniya-grazhdanam-meditsinskoy-pomoschi.html">Территориальная программа государственных гарантий бесплатного оказания гражданам медицинской помощи</a></li>
																										<li><a href="org-dispanserizatsiya.html">Диспансеризация</a></li>
																										<li><a href="org-platnyie-uslugi.html">Платные услуги</a></li>
																										<li><a href="voprosy-i-otvety.html">Часто задаваемые вопросы</a></li>
																										<li><a href="vzaimodeystviye-s-so-nko-i-volonterskimi-organizatsiyami.html">Взаимодействие с СО НКО и волонтерскими организациями</a></li>
																										<li><a href="org-paliativnaia-pomosh.html">Оказание паллиативной помощи</a></li>
																										<li><a href="otzivy-patientov.html">Отзывы пациентов</a></li>
																										<li><a href="akusherstvo-i-ginekologia.html">Акушерство и гинекология</a></li>
																										<li><a href="posttravmaticheskoe-stressovoe-rastroystvo.html">Посттравматическое стрессовое расстройство</a></li>
																										<li><a href="lekarstvennoe-obespechenie.html">Лекарственное обеспечение</a></li>
																										<li><a href="/patsientam/okazanie-pp">Оказание первой помощи</a></li>
																							</ul>
																					</li>	
										
																
										<li>
																							<a href="/org-informatsiya-dlya-spetsialistov">Специалистам</a>
																																	<ul>
																										<li><a href="org-poryadki.html">Порядки</a></li>
																										<li><a href="org-standartyi.html">Стандарты</a></li>
																										<li><a href="org-lekarstvennoe-obespechenie.html">Лекарственное обеспечение</a></li>
																										<li><a href="org-vyishestoyaschie-i-kontroliruyuschie-organyi.html">Вышестоящие и контролирующие органы</a></li>
																							</ul>
																					</li>	
										
																
										<li>
																							<a href="kontakty.html">Контакты</a>
																																</li>	
																		<!-- <li>
										<a
											href="/funkcii-i-struktura-departamenta-zdravoohraneniya-voronezhskoj-oblasti">Министерство</a>
										<ul>
											<li><a href="/rukovoditel-ministerstva">Министр здравоохранения</a></li>
											<li><a
													href="/zamestiteli-ministra-zdravoohraneniya-voronezhskoj-oblasti">Заместители
													министра</a></li>
											<li><a
													href="/kadrovyj-sostav-departamenta-zdravoohraneniya-voronezhskoj-oblasti">Кадровый
													состав</a></li>
											<li><a
													href="/funkcii-i-struktura-departamenta-zdravoohraneniya-voronezhskoj-oblasti">Функции
													и структура</a></li>
											<li><a href="/otdely-departamenta-zdravoohraneniya-voronezhskoj-oblasti">Отделы
													министерства</a></li>
											<li><a href="/normativno-pravovaya-baza/federalnoe-zakonodatelstvo">Нормативно-правовая
													база</a></li>
											<li><a href="/istoriya">История</a></li>
											<li><a href="/files/publichnaya-deklaraciya-celej-i-zadach-dzvo-na-2019-god.pdf"
													target="_blank">Публичная декларация целей и задач на 2019 год</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="/vse-medicinskie-organizacii">Медицинские организации</a>
										<ul>
											<li><a href="/vse-medicinskie-organizacii">Все медицинские организации</a></li>
											<li><a href="/medicinskie-organizacii">Искать ближайшую медорганизацию</a>
											</li>
											<li><a href="/vakansii">Вакансии</a></li>
											<li><a href="/uchastki">Участки</a></li>
											<li><a href="/antirabicheskij-centr">Антирабический центр</a></li>
										</ul>
									</li>
									<li>
										<a title="Для населения" href="/obshchestvennaya-priemnaya/poryadok-i-vremya-lichnogo-priyoma-rukovoditelem-dzvo">
											Для населения
										</a>
										<ul>
											<li><a title="Общественная приёмная"
													href="/obshchestvennaya-priemnaya/poryadok-i-vremya-lichnogo-priyoma-rukovoditelem-dzvo">Общественная
													приёмная</a></li>
											<li><a href="/lekarstvennoye-obespecheniye/lekarstvennoye-obespecheniye">Лекарственное обеспечение</a>
											</li>
											<li><a href="/pomoshch-narkozavisimym">Помощь наркозависимым</a></li>
											<li><a href="/okazanie-meditsinskoy-pomoshi/okazanie-pervoj-dovrachebnoj-pomoshchi">Оказание медицинской
													помощи</a></li>
											<li><a
													href="/immunoprofilaktika/profilakticheskie-privivki-dlya-detej-i-vzroslyh">Иммунопрофилактика</a>
											</li>
											<li><a href="/spasibo-doktor/skazat-spasibo">Спасибо, доктор!</a></li>
							<li><a href="/detskie-sanatorii">Детские санатории</a></li>
							<li><a href="/sanitarno-kurortnoe-lechenie/napravlenie-grazhdan-podvergshihsa-radiacionnomu-vozdeystviu">
										Санаторно - курортное лечение</a>
										</li>
										</ul>
									</li>
									<li>
										<a href="/proekty-i-programmy">Деятельность</a>
										<ul>
											<li><a href="/kalendarnyj-plan-buz-vo-vmiac">Расписание отчетов</a></li>
											<li><a href="/proekty-i-programmy">Проекты и программы</a></li>
											<li><a href="/monitoring-cen">Мониторинг цен</a></li>
											<li><a rel="nofollow" target="_blank"
													href="http://www.gfu.vrn.ru/">Тендеры</a></li>
											<li><a href="/vzaimodejstvie-s-dzhankojskim-rajonom-respubliki-krym">Взаимодействие
													с республикой Крым</a></li>
											<li><a href="/normativno-pravovaya-baza/meropriyatiya">Мероприятия</a></li>
											<li><a href="/vzaimodejstvie-s-institutami-grazhdanskogo-obshchestva">Взаимодействие
													с институтами гражданского общества</a></li>
											<li><a href="/gosudarstvennye-uslugi">Государственные услуги</a></li>
											<li><a href="/obyavleniya/obyavleniya">Объявления</a></li>
										</ul>
									</li>
									<li>
										<a href="/kontakty-dlya-smi">Для СМИ</a>
										<ul>
											<li><a href="/kontakty-dlya-smi">Контакты для СМИ</a></li>
											<li><a href="/smi-o-nas">СМИ о нас</a></li>
											<li><a href="/pravovaya-baza-raboty-so-smi">Правовая база работы со СМИ</a>
											</li>
											<li><a href="/press-relizy">Пресс-релизы</a></li>
										</ul>
									</li>
									<li>
										<a href="/kontakty">Контакты</a>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
        </section>
        <section class="divider"></section>

        

<section class="top-info">
	<div class="container">
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-content">
                    <h1>
                        <!--{{title}} -->
                        Информация о работе с обращениями граждан БУЗ ВО «Острогожская РБ»
                    </h1>
                    <!-- {{created}} ??? -->
                    <script type="text/javascript" src="share2/share.js" charset="utf-8"></script>
                    <div class="ya-share2 topshare yashare-auto-init" data-services="vkontakte,twitter,odnoklassniki,moimir,gplus" data-description="{{textPreview}}" data-image="http://zdrav36.ru/images/articles/{{image}}" data-lang="ru" data-title="{{name}}" data-counter="">
                    </div>
                    <!-- {{text}} -->
                    <h2>Информация о работе с обращениями граждан</h2><h2>Порядок приема граждан бюджетным учреждением здравоохранения</h2><h2> Воронежской области "Острогожская районная больница" </h2><p>
	  Рассмотрение обращений граждан бюджетным учреждением здравоохранения Воронежской области "Острогожская районная больница" (далее – районная больница) ведется в соответствии с Федеральным законом от 02.05.2006 № 59-ФЗ "О порядке рассмотрения обращений граждан Российской Федерации", Инструкцией по делопроизводству правительства Воронежской области, исполнительных органов государственной власти области.</p><h3 style="text-align: justify;">Режим работы администрации бюджетного учреждения здравоохранения </h3><h3 style="text-align: justify;">Воронежской области "Острогожская районная больница"</h3><ul>
	<li>Пн-Пт.: 8.00 - 17.30</li>
	<li>Сб. 8.00 - 14.00 (дежурный администратор из числа зам. гл. врача)</li>
	<li>Перерыв: 12.00 - 13.00</li>
	<li>Выходные: Сб, Вс</li>
	<li>тел./факс (47375) 4-20-86</li>
	<li>ОКПО 01922084, ОГРН 1023601035193, ИНН/КПП 3619005426/361901001</li>
</ul><h3>Прием граждан заместителями главного врача</h3><ul>
	<li>Пн-Пт: 8.00 - 15.30</li>
	<li>Перерыв: 12.00 - 13.00</li>
	<li>Выходные: Сб, Вс</li>
</ul><h3>Прием граждан главным врачом по личным вопросам</h3><p>
	   Личный прием граждан главным врачом Зязиным Олегом Юрьевичем осуществляется по понедельникам с 14.00 до 18.00</p><p>по адресу: г. Острогожск, ул. Кузнецова, д. 92<br></p><h3>Прием письменных обращений граждан</h3><ul>
	<li>397855, г. Острогожск, ул. Кузнецова, д. 92</li>
	<li>электронная почта для личных обращений граждан: <a href="/obshchestvennaya-priemnaya/forma-otpravki-ehlektronnyh-obrashchenij">отправить обращение</a></li>
</ul><h3><br></h3>                    <!-- {{for documents}} -->
                                        
                    
                                        <ul class="doc-list">
                        <!-- {{if file}} -->
                                                <li>
                            <a href="files/mBSpaAls_%D0%9F%D1%80%D0%B8%D0%BA%D0%B0%D0%B7_%D0%BE_%D0%BE%D0%B1%D1%80%D0%B0%D1%89%D0%B5%D0%BD%D0%B8%D0%B8_%D0%B3%D1%80%D0%B0%D0%B6%D0%B4%D0%B0%D0%BD_2022.pdf" target="_blank" title="Приказ" главврача="" о="" работе="" с="" обращениями="" граждан="" 2022="">
                                Приказ главврача о работе с обращениями граждан 2022                            </a>
                        </li>
                        <!-- {{else file}} -->
                                            </ul>
                                        <ul class="doc-list">
                        <!-- {{if file}} -->
                                                <li>
                            <a href="files/kxKkyzbf_%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B_%D1%81_%D0%BF%D0%B8%D1%81%D1%8C%D0%BC._%D0%BE%D0%B1%D1%80%D0%B0%D1%89._%D0%B3%D1%80%D0%B0%D0%B6%D0%B4%D0%B0%D0%BD_%D0%B7%D0%B0_9_%D0%BC%D0%B5%D1%81.pdf" target="_blank" title="Анализ" работы="" с="" письменными="" обращениями="" граждан="" за="" 9="" месяцев="" 2023="" года="">
                                Анализ работы с письменными обращениями граждан за 9 месяцев 2023 года                            </a>
                        </li>
                        <!-- {{else file}} -->
                                            </ul>
                                        <ul class="doc-list">
                        <!-- {{if file}} -->
                                            </ul>
                    <ul class="doc-list">
                        <h2 class="separator">Разделитель</h2>
                        <!-- {{endif file}} -->
                                            </ul>
                                        <!-- {{endfor documents}} -->
                    <div class="ya-share2 botshare yashare-auto-init" data-services="vkontakte,twitter,odnoklassniki,moimir,gplus" data-description="{{textPreview}}" data-image="/images/articles/%image%" data-lang="ru" data-title="{{name}}" data-size="s"></div>
                </div>
            </div>
        </div>
    </div>
</section>
	</div>
</section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="foot-in">
                        <div class="updowner">
                            <span class="toggler">
                                <i class="fa fa-sitemap"></i>
                                    Карта сайта
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>
                        <div class="dropper">
                            <div class="submenu">
                                <div class="row">
                                    
                                       <div class="col-lg-2 col-md-2 col-sm-6">
                                            <div class="blocker">
                                                                                                    <a href="ob-uchrezhdenii.html">Об учреждении</a>
                                                                                                                                                    <ul>
                                                                                                                        <li><a href="/novosti">Новости</a></li>
                                                                                                                        <li><a href="vakansii.html">Вакансии</a></li>
                                                                                                                        <li><a href="dokumentyi.html">Документы</a></li>
                                                                                                                        <li><a href="medrabotniki.html">Медработники</a></li>
                                                                                                                        <li><a href="kontakty.html">Контакты</a></li>
                                                                                                                        <li><a href="/uchebno-metodicheskiy-otdel">Учебно-методический отдел</a></li>
                                                                                                            </ul>
                                                                                            </div>
                                        </div>	
                                    
                                       <div class="col-lg-2 col-md-2 col-sm-6">
                                            <div class="blocker">
                                                                                                    <a href="medrabotniki.html">Медработники</a>
                                                                                                                                            </div>
                                        </div>	
                                    
                                       <div class="col-lg-2 col-md-2 col-sm-6">
                                            <div class="blocker">
                                                                                                    <a>Общественная приемная</a>
                                                                                                                                                    <ul>
                                                                                                                        <li><a href="org-poryadok-i-vremya-lichnogo-priyoma-rukovoditelem.html">Порядок и время личного приёма руководителем</a></li>
                                                                                                                        <li><a href="org-poryadok-priyoma-i-rassmotreniya-obrashchenij-grazhdan.html">Порядок приёма и рассмотрения обращений граждан</a></li>
                                                                                                                        <li><a href="org-forma-otpravki-pismennyh-obrashchenij.html">Форма отправки письменных обращений</a></li>
                                                                                                                        <li><a href="otpravit-soobshhenie.html">Форма отправки электронных обращений</a></li>
                                                                                                                        <li><a href="org-informaciya-o-rabote-s-obrashcheniyami-grazhdan.html">Информация о работе с обращениями граждан</a></li>
                                                                                                                        <li><a href="org-normativno-pravovaya-baza-po-rabote-s-obrashcheniyami-grazhdan.html">Нормативно-правовая база по работе с обращениями граждан</a></li>
                                                                                                            </ul>
                                                                                            </div>
                                        </div>	
                                    
                                       <div class="col-lg-2 col-md-2 col-sm-6">
                                            <div class="blocker">
                                                                                                    <a href="org-informatsiya-dlya-patsientov.html">Пациентам</a>
                                                                                                                                                    <ul>
                                                                                                                        <li><a href="org-territorialnaya-programma-gosudarstvennyih-garantiy-besplatnogo-okazaniya-grazhdanam-meditsinskoy-pomoschi.html">Территориальная программа государственных гарантий бесплатного оказания гражданам медицинской помощи</a></li>
                                                                                                                        <li><a href="org-dispanserizatsiya.html">Диспансеризация</a></li>
                                                                                                                        <li><a href="org-platnyie-uslugi.html">Платные услуги</a></li>
                                                                                                                        <li><a href="voprosy-i-otvety.html">Часто задаваемые вопросы</a></li>
                                                                                                                        <li><a href="vzaimodeystviye-s-so-nko-i-volonterskimi-organizatsiyami.html">Взаимодействие с СО НКО и волонтерскими организациями</a></li>
                                                                                                                        <li><a href="org-paliativnaia-pomosh.html">Оказание паллиативной помощи</a></li>
                                                                                                                        <li><a href="otzivy-patientov.html">Отзывы пациентов</a></li>
                                                                                                                        <li><a href="akusherstvo-i-ginekologia.html">Акушерство и гинекология</a></li>
                                                                                                                        <li><a href="posttravmaticheskoe-stressovoe-rastroystvo.html">Посттравматическое стрессовое расстройство</a></li>
                                                                                                                        <li><a href="lekarstvennoe-obespechenie.html">Лекарственное обеспечение</a></li>
                                                                                                                        <li><a href="/patsientam/okazanie-pp">Оказание первой помощи</a></li>
                                                                                                            </ul>
                                                                                            </div>
                                        </div>	
                                    
                                       <div class="col-lg-2 col-md-2 col-sm-6">
                                            <div class="blocker">
                                                                                                    <a href="/org-informatsiya-dlya-spetsialistov">Специалистам</a>
                                                                                                                                                    <ul>
                                                                                                                        <li><a href="org-poryadki.html">Порядки</a></li>
                                                                                                                        <li><a href="org-standartyi.html">Стандарты</a></li>
                                                                                                                        <li><a href="org-lekarstvennoe-obespechenie.html">Лекарственное обеспечение</a></li>
                                                                                                                        <li><a href="org-vyishestoyaschie-i-kontroliruyuschie-organyi.html">Вышестоящие и контролирующие органы</a></li>
                                                                                                            </ul>
                                                                                            </div>
                                        </div>	
                                    
                                       <div class="col-lg-2 col-md-2 col-sm-6">
                                            <div class="blocker">
                                                                                                    <a href="kontakty.html">Контакты</a>
                                                                                                                                            </div>
                                        </div>	
                                    
                                  
    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="copy">
                            <p>© 2014 - 2024 . БУЗ ВО "Острогожская РБ"</p>
                        </div>
                        <div class="subcopy">
                            <p>Техподдержка осуществляется бюджетным учреждением здравоохранения Воронежской области
                                «Воронежский медицинский информационно-аналитический центр»</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <nav id="themenu" class="themenu">
        <div class="mobilusmenus">
            <ul>
                <li>
                    <a href="index.htm">Главная</a>
                </li>
                
                	
                    						
                    <li class="insup">
                        <!-- <span>Общественная приемная</span><i class="todown fa fa-chevron-right"></i> -->
                                                    <a href="ob-uchrezhdenii.html">Об учреждении</a>
                                                                        <i class="todown fa fa-chevron-right"></i>
                        <ul class="infirst droped">
                                                                <li><a href="/novosti">Новости</a></li>
                                                                <li><a href="vakansii.html">Вакансии</a></li>
                                                                <li><a href="dokumentyi.html">Документы</a></li>
                                                                <li><a href="medrabotniki.html">Медработники</a></li>
                                                                <li><a href="kontakty.html">Контакты</a></li>
                                                                <li><a href="/uchebno-metodicheskiy-otdel">Учебно-методический отдел</a></li>
                                                    </ul>
                                            </li>	
                	
                    						
                    <li class="insup">
                        <!-- <span>Общественная приемная</span><i class="todown fa fa-chevron-right"></i> -->
                                                    <a href="medrabotniki.html">Медработники</a>
                                                                    </li>	
                	
                    						
                    <li class="insup">
                        <!-- <span>Общественная приемная</span><i class="todown fa fa-chevron-right"></i> -->
                                                    <span>Общественная приемная</span>
                                                                        <i class="todown fa fa-chevron-right"></i>
                        <ul class="infirst droped">
                                                                <li><a href="org-poryadok-i-vremya-lichnogo-priyoma-rukovoditelem.html">Порядок и время личного приёма руководителем</a></li>
                                                                <li><a href="org-poryadok-priyoma-i-rassmotreniya-obrashchenij-grazhdan.html">Порядок приёма и рассмотрения обращений граждан</a></li>
                                                                <li><a href="org-forma-otpravki-pismennyh-obrashchenij.html">Форма отправки письменных обращений</a></li>
                                                                <li><a href="otpravit-soobshhenie.html">Форма отправки электронных обращений</a></li>
                                                                <li><a href="org-informaciya-o-rabote-s-obrashcheniyami-grazhdan.html">Информация о работе с обращениями граждан</a></li>
                                                                <li><a href="org-normativno-pravovaya-baza-po-rabote-s-obrashcheniyami-grazhdan.html">Нормативно-правовая база по работе с обращениями граждан</a></li>
                                                    </ul>
                                            </li>	
                	
                    						
                    <li class="insup">
                        <!-- <span>Общественная приемная</span><i class="todown fa fa-chevron-right"></i> -->
                                                    <a href="org-informatsiya-dlya-patsientov.html">Пациентам</a>
                                                                        <i class="todown fa fa-chevron-right"></i>
                        <ul class="infirst droped">
                                                                <li><a href="org-territorialnaya-programma-gosudarstvennyih-garantiy-besplatnogo-okazaniya-grazhdanam-meditsinskoy-pomoschi.html">Территориальная программа государственных гарантий бесплатного оказания гражданам медицинской помощи</a></li>
                                                                <li><a href="org-dispanserizatsiya.html">Диспансеризация</a></li>
                                                                <li><a href="org-platnyie-uslugi.html">Платные услуги</a></li>
                                                                <li><a href="voprosy-i-otvety.html">Часто задаваемые вопросы</a></li>
                                                                <li><a href="vzaimodeystviye-s-so-nko-i-volonterskimi-organizatsiyami.html">Взаимодействие с СО НКО и волонтерскими организациями</a></li>
                                                                <li><a href="org-paliativnaia-pomosh.html">Оказание паллиативной помощи</a></li>
                                                                <li><a href="otzivy-patientov.html">Отзывы пациентов</a></li>
                                                                <li><a href="akusherstvo-i-ginekologia.html">Акушерство и гинекология</a></li>
                                                                <li><a href="posttravmaticheskoe-stressovoe-rastroystvo.html">Посттравматическое стрессовое расстройство</a></li>
                                                                <li><a href="lekarstvennoe-obespechenie.html">Лекарственное обеспечение</a></li>
                                                                <li><a href="/patsientam/okazanie-pp">Оказание первой помощи</a></li>
                                                    </ul>
                                            </li>	
                	
                    						
                    <li class="insup">
                        <!-- <span>Общественная приемная</span><i class="todown fa fa-chevron-right"></i> -->
                                                    <a href="/org-informatsiya-dlya-spetsialistov">Специалистам</a>
                                                                        <i class="todown fa fa-chevron-right"></i>
                        <ul class="infirst droped">
                                                                <li><a href="org-poryadki.html">Порядки</a></li>
                                                                <li><a href="org-standartyi.html">Стандарты</a></li>
                                                                <li><a href="org-lekarstvennoe-obespechenie.html">Лекарственное обеспечение</a></li>
                                                                <li><a href="org-vyishestoyaschie-i-kontroliruyuschie-organyi.html">Вышестоящие и контролирующие органы</a></li>
                                                    </ul>
                                            </li>	
                	
                    						
                    <li class="insup">
                        <!-- <span>Общественная приемная</span><i class="todown fa fa-chevron-right"></i> -->
                                                    <a href="kontakty.html">Контакты</a>
                                                                    </li>	
                <!--                 <li>
                    <a href="/">Главная</a>
                </li>
                <li class="insup">
                    <a href="/ob-uchrezhdenii">Об учреждении</a><i class="todown fa fa-chevron-right"></i>
                    <ul class="infirst droped">
                        <li>
                            <a href="/novosti">Новости</a>
                        </li>
                        <li>
                            <a href="/vakansii">Вакансии</a>
                        </li>
                        <li>
                            <a href="/dokumentyi">Документы</a>
                        </li>
			            <li>
                        	<a href="/medrabotniki">Медработники</a>
                        </li>
                        <li>
                        	<a href="/kontakty">Контакты</a>
                        </li>
                        <li id='li3'>
                        	<a href="/uchebno-metodicheskiy-otdel">Учебно-методический отдел</a>
                        </li>
                    </ul>
                </li>
                <li class="insup">
                    <span>Общественная приемная</span><i class="todown fa fa-chevron-right"></i>
                    <ul class="infirst droped">
                        <li>
                            <a href="/org-poryadok-i-vremya-lichnogo-priyoma-rukovoditelem">
                                Порядок и время личного приёма руководителем
                            </a>
                        </li>
                        <li>
                            <a href="/org-poryadok-priyoma-i-rassmotreniya-obrashchenij-grazhdan">
                                Порядок приёма и рассмотрения обращений граждан
                            </a>
                        </li>
                        <li>
                            <a href="/org-forma-otpravki-pismennyh-obrashchenij">
                                Форма отправки письменных обращений
                            </a>
                        </li>
                        <li>
                            <a href="/otpravit-soobshhenie">
                                Форма отправки электронных обращений
                            </a>
                        </li>
                        <li>
                            <a href="/org-informaciya-o-rabote-s-obrashcheniyami-grazhdan">
                                Информация о работе с обращениями граждан
                            </a>
                        </li>
                        <li>
                            <a href="/org-normativno-pravovaya-baza-po-rabote-s-obrashcheniyami-grazhdan">
                                Нормативно-правовая база по работе с обращениями граждан
                            </a>
                        </li>
                    </ul>
                </li>

                                <li class="insup">
                    <a href="/org-informatsiya-dlya-patsientov">Пациентам</a><i class="todown fa fa-chevron-right"></i>
                    <ul class="infirst droped">
                        <li><a
                                href="/org-territorialnaya-programma-gosudarstvennyih-garantiy-besplatnogo-okazaniya-grazhdanam-meditsinskoy-pomoschi">Территориальная
                                программа государственных гарантий бесплатного оказания гражданам медицинской помощи</a>
                        </li>
                        <li><a href="/org-dispanserizatsiya">Диспансеризация</a></li>
                        <li><a href="/org-platnyie-uslugi">Платные услуги</a></li>
                        <li><a href="/voprosy-i-otvety">Часто задаваемые вопросы</a></li>
                        <li><a href="/vzaimodeystviye-s-so-nko-i-volonterskimi-organizatsiyami">Взаимодействие
                                    с СО НКО и волонтерскими организациями</a></li>                                               
                        <li><a href="/org-paliativnaia-pomosh">Оказание паллиативной помощи</a></li>
                        <li><a href="/otzivy-patientov">Отзывы пациентов</a></li>
                        <li><a href="/akusherstvo-i-ginekologia">Акушерство и гинекология</a></li>
                        <li><a href="/lekarstvennoe-obespechenie">Лекарственное обеспечение</a></li>
                    </ul>
                </li>
                <li class="insup">
                    <a href="/org-informatsiya-dlya-spetsialistov">Специалистам</a><i
                        class="todown fa fa-chevron-right"></i>
                    <ul class="infirst droped">
                        <li><a href="/org-poryadki">Порядки</a></li>
                        <li><a href="/org-standartyi">Стандарты</a></li>
                        <li>
                            <a href="/org-lekarstvennoe-obespechenie">Лекарственное обеспечение</a>
                        </li>
                        <li>
                            <a href="/org-vyishestoyaschie-i-kontroliruyuschie-organyi">Вышестоящие и контролирующие
                                органы</a>
                        </li>
                    </ul>
                </li>
                                <li>
                    <a href="/kontakty">Контакты</a>
                </li> -->
            </ul>
        </div>
    </nav>
    <!--noindex-->
<div class="cookie-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-11">
                            <span class="text">Работая с этим сайтом, вы даете свое согласие на использование файлов cookie сервисов «Яндекс». <a target="_blank" rel="nofollow" href="https://yandex.ru/support/metrika/code/data-collected.html" style="background-color: initial;">Подробнее </a>. Это необходимо для нормального функционирования сайта, показа целевой рекламы и анализа трафика. Статистика использования сайта отправляется в «Яндекс». <a target="_blank" rel="nofollow" href="https://yandex.ru/support/browser/personal-data-protection/cookies.xml" style="background-color: initial;">Подробнее</a></span>
                        </div>
                        <div class="col-lg-1">
                            <span id="iAgreeYandex" class="confir btn btn-default">Согласен</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/noindex-->
    <!-- {{setting_usedYandex}}
    {{setting_yandexMetrika}} -->
	<script>
        if ('{{orgname}}' != 'КУЗ ВО "ВОКЦМК"') {
            document.getElementById('li1').style.display = 'none'
            document.getElementById('li2').style.display = 'none'
            document.getElementById('li3').style.display = 'none'
        }
    </script>
</body>

</html>